<div id="modal1" class="modal">
    <div class="modal-content">
        {% block modalheader %}{% endblock %}
        {% block modalcontent %}{% endblock %}
    </div>
    <div class="modal-footer">
        {% block modalfooter %}{% endblock %}
    </div>
</div>